<ul class="sidebar-nav">
    <!-- Menu Item -->
    <li class="border-left-green">
        <a href="index.html" title="Dashboard">
            <i class="menu-icon fa fa-lg fa-fw fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <!-- End Menu Item -->

    <!-- Menu Item -->
    <li class="border-left-purple">
        <a href="javascript:void(0);"  data-toggle="collapse" data-target="#pages-submenu" title="Pages">
            <i class="menu-icon fa fa-lg fa-fw fa-file"></i> <span class="parent-item">Pages</span>
            <i class="fa fa-caret-right submenu-indicator"></i>
        </a>
        <ul id="pages-submenu" class="collapse">
            <li>
                <a href="profile.html">Profile</a>
            </li>
            <li>
                <a href="account.html">Account Settings</a>
            </li>
            <li>
                <a href="chat.html">Chat</a>
            </li>
            <li>
                <a href="timeline.html">Timeline</a>
            </li>
            <li>
                <a href="invoice.html">Invoice</a>
            </li>
            <li>
                <a href="register.html">Register</a>
            </li>
            <li>
                <a href="login.html">Login</a>
            </li>
            <li>
                <a href="forget.html">Forget Login</a>
            </li>
            <li>
                <a href="lock-screen.html">Lockscreen</a>
            </li>
            <li>
                <a href="404.html">404</a>
            </li>
            <li>
                <a href="500.html">500</a>
            </li>
            <li>
                <a href="empty.html" title="Empty Page">Empty Page</a>
            </li>
        </ul>
    </li>
    <!-- End Menu Item -->
</ul>