<ul class="nav-buttons">
    <!-- Nav Button 1 -->
    <li class="nav-button button-1 dropdown">
        <!-- Button -->
        <a href="javascript:void(0);" data-toggle="dropdown">
            <i class="ion-android-inbox icon"></i>
            <span class="badge bg-light-red">24</span>
        </a>
        <!-- End Button -->

        <!-- Button Dropdown -->
        <ul class="dropdown-menu triangle nav-dropdown-list animated fadeInDown">
            <!-- Dropdown Header -->
            <li class="header">
                <h4 class="title">Messages</h4>
            </li>
            <!-- Dropdown List -->
            <li class="item-list-container">
                <ul class="item-list">
                    <li class="unread">
                        <a href="message-item.html">
                            <div class="pull-left image">
                                <img src="assets/curo/img/people/1.jpg" class="img-thumbnail avatar bg-light-green" alt="user profile image">
                            </div>
                            <div class="pull-left info">
                                <h4 class="name"><b>Kevin Mckoy</b></h4>
                                <h6 class="extra">Server Upgrade Estimates</h6>
                                <span class="date text-muted">today at 10:15 AM</span>
                            </div>
                        </a>
                    </li>
                    <li class="unread">
                        <a href="message-item.html">
                            <div class="pull-left image">
                                <img src="assets/curo/img/people/2.jpg" class="img-thumbnail avatar bg-light-red" alt="user profile image">
                            </div>
                            <div class="pull-left info">
                                <h4 class="name"><b>Jack Patillo</b></h4>
                                <h6 class="extra">Brunch RSVP</h6>
                                <span class="date text-muted">today at 8:45 AM</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="message-item.html">
                            <div class="pull-left image">
                                <img src="assets/curo/img/people/3.jpg" class="img-thumbnail avatar bg-light-green" alt="user profile image">
                            </div>
                            <div class="pull-left info">
                                <h4 class="name"><b>Kara Finkely</b></h4>
                                <h6 class="extra">System Downtime Report</h6>
                                <span class="date text-muted">yesterday at 9:18 PM</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="message-item.html">
                            <div class="pull-left image">
                                <img src="assets/curo/img/people/4.jpg" class="img-thumbnail avatar bg-light-green" alt="user profile image">
                            </div>
                            <div class="pull-left info">
                                <h4 class="name"><b>Gavin Free</b></h4>
                                <h6 class="extra">Video Ad: Revision 3</h6>
                                <span class="date text-muted">yesterday at 3:20 AM</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="message-item.html">
                            <div class="pull-left image">
                                <img src="assets/curo/img/people/5.jpg" class="img-thumbnail avatar bg-light-green" alt="user profile image">
                            </div>
                            <div class="pull-left info">
                                <h4 class="name"><b>Geoff Ramsey</b></h4>
                                <h6 class="extra">New Intern Info.</h6>
                                <span class="date text-muted">2 days ago at 4:30 PM</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Dropdown List -->

            <!-- Dropdown Footer -->
            <li class="footer">
                <a href="inbox.html" class="btn btn-default" >View All Messages</a>
            </li>
            <!-- End Dropdown Footer -->
        </ul>
        <!-- End Button Dropdown -->
    </li>
    <!-- End Nav Button 1 -->

    <!-- Nav Button 2 -->
    <li class="nav-button button-2 dropdown">
        <!-- Dropdown Button -->
        <a href="javascript:void(0);" data-toggle="dropdown">
            <i class="fa fa-bell-o icon"></i>
            <span class="badge bg-green">99+</span>
        </a>
        <!-- End Dropdown Button -->

        <!-- Button Dropdown -->
        <ul class="dropdown-menu triangle nav-dropdown-list animated fadeInDown">
            <!-- Dropdown Header -->
            <li class="header">
                <h4 class="title">Notifications</h4>
            </li>
            <!-- End Dropdown Header -->

            <!-- Dropdownn List -->
            <li class="item-list-container">
                <ul class="item-list">
                    <li>
                        <a href="timeline.html">
                            <div class="pull-left image">
                                <img src="assets/curo/img/people/5.jpg" class="img-thumbnail avatar" alt="user profile image">
                            </div>
                            <div class="pull-left info">
                                <h4 class="name"><b>Geoff Ramsey</b> updated his status</h4>
                                <h6 class="text-muted extra">5 seconds ago</h6>
                            </div>
                        </a>
                    </li>
                    <li class="unread">
                        <a href="timeline.html">
                            <div class="pull-left image">
                                <img src="assets/curo/img/people/6.jpg" class="img-thumbnail avatar" alt="user profile image">
                            </div>
                            <div class="pull-left info">
                                <h4 class="name">Meeting for Team Leaders</h4>
                                <h6 class="text-muted extra">5 seconds ago</h6>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="timeline.html">
                            <div class="pull-left image">
                                <img src="assets/curo/img/people/5.jpg" class="img-thumbnail avatar" alt="user profile image">
                            </div>
                            <div class="pull-left info">
                                <h4 class="name"><b>Gavino Free</b> turned in Module 219A of Project #32</h4>
                                <h6 class="text-muted extra">5 seconds ago</h6>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="timeline.html">
                            <div class="pull-left image">
                                <img src="assets/curo/img/people/4.jpg" class="img-thumbnail avatar" alt="user profile image">
                            </div>
                            <div class="pull-left info">
                                <h4 class="name"><b>Yanique Robinson</b> updated her Profile Avatar</h4>
                                <h6 class="text-muted extra">5 seconds ago</h6>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Dropdownn List -->

            <!-- Downdown Footer -->
            <li class="footer">
                <a href="timeline.html" class="btn btn-default" >View All Notifications</a>
            </li>
            <!-- End Downdown Footer -->

        </ul>
        <!-- End Button Dropdown -->
    </li>
    <!-- End Nav Button 2 -->

    <!-- Nav Button 3 -->
    <li class="nav-button button-3 dropdown">
        <!-- Button -->
        <a href="javascript:void(0);" data-toggle="dropdown">
            <i class="fa fa-comments-o icon"></i>
            <span class="badge bg-light-blue">4</span>
        </a>
        <!-- End Button -->

        <!-- Button Dropdown -->
        <ul class="dropdown-menu triangle nav-dropdown-list animated fadeInDown">

            <!-- Dropdown Header -->
            <li class="header">
                <h4 class="title">Recent Chats</h4>
            </li>
            <!-- End Dropdown Header -->

            <!-- Dropdown List -->
            <li class="item-list-container">
                <ul class="item-list">
                    <li class="unread">
                        <a href="chat.html">
                            <div class="pull-left image">
                                <img src="assets/curo/img/people/2.jpg" class="img-thumbnail avatar bg-light-green" alt="user profile image">
                            </div>
                            <div class="pull-left info">
                                <h4 class="name">Gavin Free <span class="badge bg-light-green">4</span></h4>
                                <h6 class="text-muted extra">1 seconds ago</h6>
                            </div>
                        </a>
                    </li>
                    <li class="unread">
                        <a href="chat.html">
                            <div class="pull-left image">
                                <img src="assets/curo/img/people/3.jpg" class="img-thumbnail avatar bg-light-orange" alt="user profile image">
                            </div>
                            <div class="pull-left info">
                                <h4 class="name">Yanique Robinson <span class="badge bg-light-orange">2</span></h4>
                                <h6 class="text-muted extra">3 seconds ago</h6>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="pull-left image">
                                <img src="assets/curo/img/people/4.jpg" class="img-thumbnail avatar" alt="user profile image">
                            </div>
                            <div class="pull-left info">
                                <h4 class="name">Ryan Haywood <span class="badge">4</span></h4>
                                <h6 class="text-muted extra">last week monday at 2:30 PM</h6>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="pull-left image">
                                <img src="assets/curo/img/people/5.jpg" class="img-thumbnail avatar" alt="user profile image">
                            </div>
                            <div class="pull-left info">
                                <h4 class="name">Geoff Ramsey <span class="badge">4</span></h4>
                                <h6 class="text-muted extra">Jun 23 at 11:08 AM</h6>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Dropdown List -->

            <!-- Dropdown Footer -->
            <li class="footer">
                <a href="chat.html" class="btn btn-default" >View All Chat Sessions</a>
            </li>
            <!-- Dropdown Footer -->

        </ul>
        <!-- End Button Dropdown -->
    </li>
    <!-- End Nav Button 3 -->

    <!-- Nav Button 4 -->
    <li class="nav-button button-4 dropdown">

        <!-- Button -->
        <a href="javascript:void(0);" data-toggle="dropdown">
            <i class="fa fa-hdd-o icon"></i>
            <span class="badge bg-light-orange"><i class="fa fa-exclamation"></i> 2</span>
        </a>
        <!-- End Button -->

        <!-- Button Dropdown -->
        <ul class="dropdown-menu triangle nav-dropdown-grid animated fadeInDown">

            <!-- Dropdown Header -->
            <li class="header">
                <h4 class="title">System Status</h4>
            </li>
            <!-- End Dropdown Header -->

            <!-- Dropdown Grid -->
            <li class="item-grid-container">
                <ul class="item-grid">
                    <li>
                        <a href="javascript:void(0);">
                            <div class="info">Server Status</div>
                            <i class="fa fa-desktop icon"></i>
                            <div class="info">
                                <i class="fa fa-circle text-success"></i> Online
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <div class="info">Storage (67%)</div>
                            <i class="fa fa-hdd-o icon"></i>
                            <div class="info">
                                <div class="progress">
                                    <div class="progress-bar bg-light-orange" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%;">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <div class="info">Bandwidth (75%)</div>
                            <i class="fa fa-dashboard icon"></i>
                            <div class="info">
                                <div class="progress">
                                    <div class="progress-bar bg-light-red" role="progressbar" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100" style="width: 91%;">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <div class="info">CPU Load (20%)</div>
                            <i class="fa fa-bar-chart-o icon"></i>
                            <div class="info">
                                <div class="progress">
                                    <div class="progress-bar bg-light-green" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Dropdown Grid -->

            <!-- Dropdown Footer -->
            <li class="footer">
                <a href="inbox.html" class="btn btn-default" >View All System Statistics</a>
            </li>
            <!-- End Dropdown Footer -->

        </ul>
        <!-- Button Dropdown -->
    </li>
    <!-- End Nav Button 4 -->
</ul>