<div class="ajax-pagination" id="ajax_pagination">
    <ul class="align-center">
        <li><button type="button" class="btn btn-primary btn-xs" id="first_page" disabled="true"><i class="fa fa-fast-backward"></i> 首页</button></li>
        <li><button type="button" class="btn btn-primary btn-xs" id="prev_page" disabled="true"><i class="fa fa-step-backward"></i> 前一页</button></li>
        <li class="page">第&nbsp;<span id="cur_page">1</span>&nbsp;页&nbsp;|&nbsp;跳转到&nbsp;<input type="text" class="form-control" size="4" id="page_num">&nbsp;页&nbsp;|&nbsp;共&nbsp;<span id="pages" data-num="{{ list.pages }}">{{ list.pages }}</span>&nbsp;页</li>
        <li><button class="btn btn-success btn-xs" id="skip_btn"><i class="fa fa-paper-plane"></i> 确定</button></li>
        <li><button type="button" class="btn btn-primary btn-xs" id="next_page">下一页 <i class="icon-on-right fa fa-step-forward"></i></button></li>
        <li><button type="button" class="btn btn-primary btn-xs" id="last_page">尾页 <i class="icon-on-right fa fa-fast-forward"></i></button></li>
    </ul>
</div>