<ul class="chat-list-wrapper">
    <!-- Online Section -->
    <li class="mg-btm-20">
        <!-- Heading -->
        <a href="javascript:void(0);" data-toggle="collapse" data-target="#chat-online-list">
            <h3 class="heading"><i class="fa fa-circle text-success"></i> Online (3)</h3>
        </a>
        <!-- End Heading -->

        <!-- User List -->
        <ul id="chat-online-list" class="collapse in user-list">
            <!-- User Item -->
            <li class="media">
                <a href="javascript:void(0);">
                    <div class="pull-left image">
                        <img src="/assets/curo/img/people/7.jpg" class="img-thumbnail avatar bg-light-green" alt="user profile image">
                    </div>
                    <div class="pull-left info">
                        <h4 class="name">Kevin Mckoy</h4>
                        <span class="text-muted extra">online</span>
                    </div>
                    <i class="fa fa-mobile fa-fw pull-right"></i>
                </a>
            </li>
            <!-- End User Item -->

            <!-- User Item -->
            <li class="media">
                <a href="javascript:void(0);">
                    <div class="pull-left image">
                        <img src="/assets/curo/img/people/6.jpg" class="img-thumbnail avatar bg-light-green" alt="user profile image">
                    </div>
                    <div class="pull-left info">
                        <h4 class="name">Barbara Dunkleman</h4>
                        <span class="text-muted extra">last seen 1 minute ago</span>
                    </div>
                    <i class="fa fa-laptop fa-fw pull-right"></i>
                </a>
            </li>
            <!-- End User Item -->

            <!-- User Item -->
            <li class="media">
                <a href="javascript:void(0);">
                    <div class="pull-left image">
                        <img src="/assets/curo/img/people/7.jpg" class="img-thumbnail avatar bg-light-orange" alt="user profile image">
                    </div>
                    <div class="pull-left info">
                        <h4 class="name">Gus Sorola</h4>
                        <span class="text-muted extra">last seen 5 minute ago</span>
                    </div>
                    <i class="fa fa-laptop fa-fw pull-right"></i>
                </a>
            </li>
            <!-- End User Item -->
        </ul>
        <!-- End User List -->
    </li>
    <!-- End Online Section -->

    <!-- Offline Section -->
    <li>
        <!-- Heading -->
        <a href="javascript:void(0);" data-toggle="collapse" data-target="#chat-offline-list">
            <h3 class="heading"><i class="fa fa-circle text-danger"></i> Offline (21)</h3>
        </a>
        <!-- End Heading -->

        <!-- User List -->
        <ul id="chat-offline-list" class="collapse user-list">
            <!-- User Item -->
            <li class="media">
                <a href="javascript:void(0);">
                    <div class="pull-left image">
                        <img src="/assets/curo/img/people/1.jpg" class="img-thumbnail avatar" alt="user profile image">
                    </div>
                    <div class="pull-left info">
                        <h4 class="name">Michael Jones</h4>
                        <span class="text-muted extra">last seen yesterday</span>
                    </div>
                    <i class="fa fa-laptop fa-fw pull-right"></i>
                </a>
            </li>
            <!-- End User Item -->

            <!-- User Item -->
            <li class="media">
                <a href="javascript:void(0);">
                    <div class="pull-left image">
                        <img src="/assets/curo/img/people/2.jpg" class="img-thumbnail avatar" alt="user profile image">
                    </div>
                    <div class="pull-left info">
                        <h4 class="name">Gavin Free</h4>
                        <span class="text-muted extra">last seen yesterday</span>
                    </div>
                    <i class="fa fa-laptop fa-fw pull-right"></i>
                </a>
            </li>
            <!-- End User Item -->

            <!-- User Item -->
            <li class="media">
                <a href="javascript:void(0);">
                    <div class="pull-left image">
                        <img src="/assets/curo/img/people/3.jpg" class="img-thumbnail avatar" alt="user profile image">
                    </div>
                    <div class="pull-left info">
                        <h4 class="name">Linsay Tuggeey</h4>
                        <span class="text-muted extra">last seen 3 days ago</span>
                    </div>
                    <i class="fa fa-mobile fa-fw pull-right"></i>
                </a>
            </li>
            <!-- End User Item -->

            <!-- User Item -->
            <li class="media">
                <a href="javascript:void(0);">
                    <div class="pull-left image">
                        <img src="/assets/curo/img/people/4.jpg" class="img-thumbnail avatar" alt="user profile image">
                    </div>
                    <div class="pull-left info">
                        <h4 class="name">Ryan Haywood</h4>
                        <span class="text-muted extra">last seen today at 8:33 AM</span>
                    </div>
                    <i class="fa fa-laptop fa-fw pull-right"></i>
                </a>
            </li>
            <!-- End User Item -->

            <!-- User Item -->
            <li class="media">
                <a href="javascript:void(0);">
                    <div class="pull-left image">
                        <img src="/assets/curo/img/people/5.jpg" class="img-thumbnail avatar" alt="user profile image">
                    </div>
                    <div class="pull-left info">
                        <h4 class="name">Geoff Ramsey</h4>
                        <span class="text-muted extra">last seen Jun 19</span>
                    </div>
                    <i class="fa fa-mobile fa-fw pull-right"></i>
                </a>
            </li>
            <!-- End User Item -->

            <!-- User Item -->
            <li class="media">
                <a href="javascript:void(0);">
                    <div class="pull-left image">
                        <img src="/assets/curo/img/people/6.jpg" class="img-thumbnail avatar" alt="user profile image">
                    </div>
                    <div class="pull-left info">
                        <h4 class="name">Kara Mendly</h4>
                        <span class="text-muted extra">last seen Jun 10</span>
                    </div>
                    <i class="fa fa-laptop fa-fw pull-right"></i>
                </a>
            </li>
            <!-- End User Item -->

            <!-- User Item -->
            <li class="media">
                <a href="javascript:void(0);">
                    <div class="pull-left image">
                        <img src="/assets/curo/img/people/7.jpg" class="img-thumbnail avatar" alt="user profile image">
                    </div>
                    <div class="pull-left info">
                        <h4 class="name">Jack Patillo</h4>
                        <span class="text-muted extra">last seen May 1</span>
                    </div>
                    <i class="fa fa-laptop fa-fw pull-right"></i>
                </a>
            </li>
            <!-- End User Item -->

            <!-- User Item -->
            <li class="media">
                <a href="javascript:void(0);">
                    <div class="pull-left image">
                        <img src="/assets/curo/img/people/3.jpg" class="img-thumbnail avatar" alt="user profile image">
                    </div>
                    <div class="pull-left info">
                        <h4 class="name">Yanique Robinson</h4>
                        <span class="text-muted extra">last seen yesterday</span>
                    </div>
                    <i class="fa fa-mobile fa-fw pull-right"></i>
                </a>
            </li>
            <!-- End User Item -->

            <!-- User Item -->
            <li class="media">
                <a href="javascript:void(0);">
                    <div class="pull-left image">
                        <img src="/assets/curo/img/people/2.jpg" class="img-thumbnail avatar" alt="user profile image">
                    </div>
                    <div class="pull-left info">
                        <h4 class="name">Leon Thomson</h4>
                        <span class="text-muted extra">last seen 7 hours ago</span>
                    </div>
                    <i class="fa fa-laptop fa-fw pull-right"></i>
                </a>
            </li>
            <!-- End User Item -->
        </ul>
        <!-- End User List -->
    </li>
    <!-- End Offline Section -->
</ul>