<div class="user-container dropdown">
    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
        <div class="pull-left image">
            <img src="assets/curo/img/people/1.jpg" class="img-thumbnail avatar bg-light-green" alt="user profile image">
        </div>
        <div class="pull-left info">
            <h4 class="name">{{ user['username'] }}</h4>
            <h6 class="text-muted extra">系统管理员</h6>
        </div>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="profile.html"><i class="fa fa-user fa-fw icon"></i>个人信息</a></li>
        <li><a href="account.html"><i class="fa fa-cog fa-fw icon"></i>个人设置</a></li>
        <li><a href="javascript:void(0);"><i class="fa fa-clock-o fa-fw icon"></i>{{ user['last_login_time'] }}</a></li>
        <li class="divider"></li>
        <li><a href="{{ path_for('logout') }}"><i class="fa fa-sign-out fa-fw icon"></i>注 销</a></li>
    </ul>
</div>