<div class="panel panel-white border-top-blue">
    <div class="panel-body">
        <form class="form-inline" role="form" id="search_form">
            <div class="form-group">
                <label>角色名称</label>
                <input type="text" name="name" class="form-control input-sm" placeholder="角色名称">
            </div>
            <button type="button" id="search_submit" class="btn btn-blue btn-sm"><i class="fa fa-search"></i> 搜索</button>
        </form>
    </div>
</div>